
firmwares/PlatformIO/S20/include/secureInformations.
.pio
.pioenvs
.piolibdeps
firmwares/PlatformIO/Senzor/src/config.h
* (1).*
config.h
config_*.h
!config_example.h
!config_adv.h
debug.log
PlatformIO/Unified-Firmware/.vscode/c_cpp_properties.json
PlatformIO/Unified-Firmware/.vscode/launch.json
